@use "styles/sass" as *;

@for $i from 0 through 12 {
  .m-#{$i} {
    margin: get-unit($i);
  }
  .mt-#{$i} {
    margin-top: get-unit($i);
  }
  .mr-#{$i} {
    margin: get-unit($i);
  }
  .mb-#{$i} {
    margin-bottom: get-unit($i);
  }
  .ml-#{$i} {
    margin-left: get-unit($i);
  }
  .mx-#{$i} {
    margin-left: get-unit($i);
    margin-right: get-unit($i);
  }
  .my-#{$i} {
    margin-top: get-unit($i);
    margin-bottom: get-unit($i);
  }

  .p-#{$i} {
    padding: get-unit($i);
  }
  .pt-#{$i} {
    padding-top: get-unit($i);
  }
  .pr-#{$i} {
    padding: get-unit($i);
  }
  .pb-#{$i} {
    padding-bottom: get-unit($i);
  }
  .pl-#{$i} {
    padding-left: get-unit($i);
  }
  .px-#{$i} {
    padding-left: get-unit($i);
    padding-right: get-unit($i);
  }
  .py-#{$i} {
    padding-top: get-unit($i);
    padding-bottom: get-unit($i);
  }
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
  background: hsl(209, 97%, 13%);
  color: rgba($color: #ffffff, $alpha: 0.85);
}

.page-layout {
  min-height: 100svh;
}

.header {
  position: sticky;
  top: 0;
  z-index: 501;
  width: 100%;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: get-unit(2);

  h1 {
    text-align: left;
    margin: 0;
    font-size: 1.5em;
  }

  &__title {
    font-weight: bold;
  }

  &__subtitle {
    font-weight: lighter;
    opacity: 0.85;
  }

  &__menu {
    position: sticky;
    top: 64px;
    z-index: 501;
  }
}

.sider {
  // background: transparent !important;
  position: sticky;
  top: 0;
  max-height: 100vh;
  padding: get-unit(4 0);
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  height: 100%;

  &__content {
    position: sticky;
    // top: 128px;
  }
}

.sider-content {
  padding: get-unit(0 4);
}

.content-center {
  display: grid;
  place-items: center;
  height: 100%;
}

.content {
  padding: get-unit(0 4 4 4);
}

.page-content-tabs {
  padding: 0 24px;
}

.page-content {
  display: grid;
  gap: get-unit(4);
  padding: get-unit(0 4);

  &--5-5 {
    grid-template-columns: 5fr 5fr;
  }

  &--6-4 {
    grid-template-columns: 6fr 4fr;
  }
}

.parser {
  height: 100vh;
}

.parser-container {
  display: grid;
  grid-template-columns: 6fr 4fr;
  width: 100%;
  gap: get-unit(4);
}

.parser-main {
  display: flex;
  flex-direction: column;
}

.parser-controls {
  text-align: left;
}

.parser-flex-column {
  display: flex;
  flex-direction: column;
}

.theme-list {
  max-height: 80vh;
  overflow-y: auto;
}

.resource-card {
  width: 100%;
  height: 100%;
  flex: 1;

  &__list {
    margin: 0;
    padding-inline-start: 16px;
  }
}

.canvas {
  background: white;
  border: 3px solid brown;
  border-radius: get-unit(1);
}

.full-width {
  width: 100%;
}

.fixed-pagination {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-copy {
  cursor: copy;
}

.table-row-error {
  background: get-color("red", 5, 0.15);
}

.grayscale {
  filter: grayscale(100%);
}

.red {
  background-color: red;
}

.selection-outline {
  outline: 2px solid get-color("blue", 5);
  outline-offset: 3px;
  border-radius: var(--border-radius);
}

.red-border {
  border: 2px solid red;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
  word-break: keep-all;
}

.text-center {
  text-align: center;
}

.missing-value {
  outline: 1px dashed red;
  border-radius: get-unit(1);
}
