@use "styles/sass" as *;

.image-card-categorizer-card {
  width: 100%;
}

.image-card-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: get-unit(2);

  &__image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    justify-content: center;
  }

  &__data {
    min-width: 300px;
  }

  &__select {
    display: block;
    width: 100%;
    max-width: 50vw;
    min-width: 300px;
  }
}

.image-card-categorizer-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 2rem 0;
}

.image-cards-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: get-unit(2);

  &__button {
    background: get-color("gray", 1);
    border-radius: get-unit(1);

    &:hover {
      transform: none !important;
    }

    &--active {
      outline: get-unit(3) solid get-color("pink");
    }
  }
}

.image-card-categorizer-group-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin: 1rem 0;
}

.sample-size-select {
  min-width: 10ch;
}
