@use "styles/sass" as *;

.item-attribution-card {
  display: grid;
  grid-template-columns: auto auto;
  gap: get-unit(6);

  &__item {
    max-width: 200px;
  }
}

.sticky-top {
  position: sticky;
  top: get-unit(45);
  z-index: 1;
  display: block;
}

.attribute-button-container {
  .ant-space-item {
    border-radius: var(--border-radius);

    &:nth-child(odd) {
      background-color: get-color("white", 5, 0.2);
    }

    &:nth-child(even) {
      background-color: get-color("white", 5, 0.1);
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 15ch 1fr 3ch;
    align-items: center;
    padding: get-unit(1 2);
    gap: get-unit(1);
  }

  &__label {
    text-transform: uppercase;
  }
}

.item-attribute-alien-sign {
  border: 5px solid transparent;
  border: 5px solid transparent;

  &--opposite {
    border-top-color: red;
  }

  &--unrelated {
    border-top-color: maroon;
  }

  &--deterministic {
    border-bottom-color: green;
  }

  &--unclear {
    opacity: 0.5;
    background-color: get-color("yellow", 2, 0.3);
  }

  &--unsure {
    border-top-color: orange;
    border-bottom-color: orange;
  }
}

.item-attribute-value-statement {
  max-height: 150px;
  overflow-y: auto;
}

.item-groups-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid get-color("white", 5, 0.1);
  padding: get-unit(1);
  border-radius: var(--border-radius);
}

.item-groups-panel-container {
  max-width: max(600px, 70vw);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.simulator-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: get-unit(1);
  border: 1px solid get-color("white", 5, 0.1);
  border-radius: var(--border-radius);

  &__button {
    color: get-color("white") !important;
  }

  &__entry {
    border: 1px solid get-color("white", 5, 0.1);
    border-radius: var(--border-radius);
    padding: get-unit(1);

    &--highlighted {
      background-color: get-color("yellow", 2, 0.2);
    }
  }
}

.diagram-container {
  display: flex;
  flex-wrap: wrap;
  gap: get-unit(2);
  margin-bottom: get-unit(2);

  & > * {
    width: 200px;
    background: get-color("white", 1, 0.1);
    border-radius: var(--border-radius);
    padding: get-unit(1);
  }

  &__outdated-rule {
    background: get-color("orange", 7, 0.5);
  }
}

.diagram-list-items {
  display: flex;
  gap: get-unit(2);
  list-style: none;
  padding: 0;
  gap: get-unit(1);

  & > li {
    background: get-color("white", 1, 0.1);
    border-radius: var(--border-radius);
    padding: get-unit(1);
  }
}

.diagram-rule-column {
  max-width: 300px;
}

.diagram-simulator {
  &__rule-1 {
    border: 5px gold outset;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
  }
  &__rule-2 {
    border: 5px orangered outset;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
  }
  &__rule-intersection {
    // border-width: 5px;
    // border-style: solid;
    // border-image: linear-gradient(to right, gold, orangered) 1;
    background: linear-gradient(black, black) padding-box,
      linear-gradient(to right, gold, orangered) border-box;
    border: 5px solid transparent;
    border-radius: 40%;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
  }
}

.venn-diagram {
  &__circle-content-left {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    // background: rgba(188, 143, 143, 0.2);
    border-top-left-radius: 80%;
    border-bottom-left-radius: 70%;
  }

  &__circle-content-right {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    // background: rgba(173, 216, 230, 0.2);
    border-top-right-radius: 80%;
    border-bottom-right-radius: 70%;
  }

  &__circle-content-intersection {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    // background: rgba(144, 238, 144, 0.2);
    border-radius: 50%;
  }
}
