@use 'styles/sass' as *;

.all-tags {
  margin: get-unit(1);
  display: flex;
  flex-wrap: wrap;
  gap: get-unit(1);
}

.scene-options-sampler {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: get-unit(1);
}
