@import '~antd/dist/antd.css';

.home {
  text-align: center;
}

.home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .home-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-menu {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #282c34;
  margin: 0;
  width: 100%;
}

.home-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background: white;
}

.with-margin {
  margin: 1em;
}

.parser {
  /* background-color: #282c34;
  color: white; */
  height: 100vh;
}

.parser-container {
  display: flex;
  width: 100%;
}

.parser-main {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2em;
}

.parser-controls {
  width: 35%;
  text-align: left;
}

.parser-flex-column {
  display: flex;
  flex-direction: column;
}
