:root {
  --unit-1: 6px;
  --unit-2: 12px;
  --unit-4: 24px;
  --unit-8: 48px;
}

$unit: 3px;

@for $i from 1 through 12 {
  .m-#{$i} {
    margin: $unit * $i;
  }

  .mx-#{$i} {
    margin-left: $unit * $i;
    margin-right: $unit * $i;
  }

  .my-#{$i} {
    padding-top: $unit * $i;
    padding-bottom: $unit * $i;
  }

  .px-#{$i} {
    padding-left: $unit * $i;
    padding-right: $unit * $i;
  }

  .py-#{$i} {
    padding-top: $unit * $i;
    padding-bottom: $unit * $i;
  }
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: hsl(209, 97%, 13%);
  color: rgba($color: #ffffff, $alpha: 0.85);
}

.page-layout {
  min-height: 100svh;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--unit-2);

  h1 {
    text-align: left;
    margin: 0;
    font-size: 1.5em;
  }

  &__title {
    font-weight: bold;
  }

  &__subtitle {
    font-weight: lighter;
    opacity: 0.85;
  }

  &__menu {
    position: sticky;
    top: 64px;
    z-index: 1;
  }
}

.sider {
  // background: transparent !important;
  padding: var(--unit-2) 0;
  border-right: 1px solid rgba(253, 253, 253, 0.12);
  // overflow: auto;
  // height: 100%;
  &__content {
    position: sticky;
    top: 128px;
  }
}

.sider-content {
  padding: 0 var(--unit-2);
}

.content-center {
  display: grid;
  place-items: center;
  height: 100%;
}

.content {
  padding: 0 var(--unit-2) var(--unit-2) var(--unit-2);
}

.page-content-tabs {
  padding: 0 24px;
}

.page-content {
  display: grid;
  gap: var(--unit-2);
  padding: 0 var(--unit-2);

  &--5-5 {
    grid-template-columns: 5fr 5fr;
  }

  &--6-4 {
    grid-template-columns: 6fr 4fr;
  }
}

.parser {
  height: 100vh;
}

.parser-container {
  display: grid;
  grid-template-columns: 6fr 4fr;
  width: 100%;
  gap: var(--unit-2);
}

.parser-main {
  display: flex;
  flex-direction: column;
}

.parser-controls {
  text-align: left;
}

.parser-flex-column {
  display: flex;
  flex-direction: column;
}

.theme-list {
  max-height: 80vh;
  overflow-y: auto;
}

.resource-card {
  width: 100%;
  height: 100%;
  flex: 1;

  &__list {
    margin: 0;
    padding-inline-start: 16px;
  }
}

.image-card {
  border-radius: var(--unit-1);
  margin: var(--unit-1);
  transition: 500ms transform;

  // &__preview-mask {
  //   border-radius: get-unit(5);
  // }

  // &:hover {
  //   transform: scale(1.05);
  // }

  .ant-image-img {
    border-radius: var(--unit-1);
  }
}
