:root {
  --unit-1: 6px;
  --unit-2: 12px;
  --unit-4: 24px;
  --unit-8: 48px;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.layout {
  height: 100vh;
}

.header {
  h1 {
    text-align: left;
    margin: 0;
    padding: var(--unit-2) var(--unit-2) var(--unit-1) var(--unit-2);
  }

  &__main {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: bold;
  }

  &__subtitle {
    font-weight: lighter;
    color: rgb(58, 56, 56);
  }
}

.sider {
  background: transparent !important;
  padding: var(--unit-2) 0;
  border-right: 1px solid #e8e8e8;
}

.sider-content {
  padding: 0 var(--unit-2);
}

.content {
  padding: 0 var(--unit-2) var(--unit-2) var(--unit-2);

  &--empty {
    min-height: 50vh;
    display: grid;
    place-items: center;
  }
}

.container {
  display: flex;
  min-height: 100vh;
}

.page-content-tabs {
  padding: 0 24px;
}

.page-content {
  display: grid;
  gap: var(--unit-2);
  padding: 0 var(--unit-2);

  &--5-5 {
    grid-template-columns: 5fr 5fr;
  }

  &--6-4 {
    grid-template-columns: 6fr 4fr;
  }
}

.home {
  text-align: center;
}

.home-logo {
  height: 40vmin;
  pointer-events: none;
}

.home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-menu {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #282c34;
  margin: 0;
  width: 100%;
}

.home-link {
  color: #61dafb;
}

.header {
  background: white;
}

.with-margin {
  margin: 1em;
}

.parser {
  height: 100vh;
}

.parser-container {
  display: grid;
  grid-template-columns: 6fr 4fr;
  width: 100%;
  gap: var(--unit-2);
}

.parser-main {
  display: flex;
  flex-direction: column;
}

.parser-controls {
  text-align: left;
}

.parser-flex-column {
  display: flex;
  flex-direction: column;
}

.theme-list {
  max-height: 80vh;
  overflow-y: auto;
}

.resource-cards {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-between;

  &__entry {
    margin-bottom: 1rem;
    flex: 1;
  }

  &__card {
    width: 200px;
    height: 100%;
    flex: 1;
  }
}

.margin-1 {
  margin: var(--unit-1);
}

.margin-2 {
  margin: var(--unit-2);
}
